@import "footer.css";
@import "header.css";
@import "responsive.css";

.grid2 {
    display: grid;
    grid-gap: 30px;
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    margin: 100px 200px; /*top right botton left or top/botton left/right*/
    justify-items: center;
}

p, a {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 1.5vw;
}

.flex2 {
    display: flex;
    flex-direction: column;
}

.grid2 > div:first-child {
    grid-column: span 2;
}

.gallery__img {
    height: auto;
    width: 100%;
}

@media (max-width:800px) {
    .top {
        margin: 0 50px;
    }

    .grid2 {
        grid-template-columns: repeat(1, 1fr);
        margin: 50px;
    }
}

@media  (min-width:801px) and (max-width:1500px) {
    .top {
        margin: 0 50px;
    }

    .grid2 {
        margin: 50px;
    }
}
